@import "../colors.css";
.page_container {
   background-color: var(--background-primary);
   width: 100vw;
}

.content_container {
    width: 100%;
}

.hero-section {
    width: 100vw;
}

.hero-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.hero-container {
    width: 40%;
    height: 100%;
    background-color: var(--background-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding-top: 4rem;
    padding: 2rem;
}

.home-hero-logo-container {
    margin-bottom: 2rem;
}

.heading-one {
    color: var(--background-secondary);
    font-size: 4rem;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Neue Metana', sans-serif;
    text-decoration: underline 3px solid var(--primary);
}

.heading-one:nth-child(3){
    text-decoration: none;
}

.hero-breadcrumbs {
    color: var(--background-secondary);
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    right: 1rem;
}

.image-banner-container {
    width: 60%;
    height: 100%;
    position: relative;
}

.image-banner {
    background-image: url(../../img/619b3aeab8cba_north-american-cycle-courier-championship.jpeg);
    background-size: cover;
    width: 100%;
    margin: 0;
    opacity: 0.9;
    filter: saturate(0.8);
    height: 100%;
    left: 1.25rem;
}