.basket {
    flex: auto;
}

.basket-product-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;
}

.basket-product-image-wrapper {
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-product-image {
    width: 100%;
    height: 100%;
}

.basket-product-info-wrapper {
    flex-direction: column;
}

.basket-product-name {
    font-size: 1.5rem;
    font-family: 'Neue Metana', sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
}

.basket-product-info-quantity-wrapper {
    width: 15rem;
}

.basket-product-price {
    margin-top: 2rem;
    font-size: 1.5rem;
    text-decoration: underline 2px solid var(--primary);
    font-family: 'Neue Metana', sans-serif;
    font-weight: bold;
}

.basket-footer-wrapper {
    margin-top: 4rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    font-family: 'Neue Metana', sans-serif;
    font-weight: bold;
    opacity: 0.9;
}