@import "../colors.css";
.new-posts-wrapper {
    padding: 2rem;
    width: 100vw;
    background-color: var(--background-secondary);
}

.new-posts-heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2.5rem;
}

.new-posts-heading-icon {
    font-size: 3.5rem;
    color: var(--primary);
    display: flex;
    margin: 0;
    padding: 0;
    margin-right:1rem;
    align-items: center;
    justify-content: center;
}

.new-posts-heading {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Neue Metana', sans-serif;
}

.new-posts-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content:space-between;
    flex-wrap: wrap;
}

.new-post {
    width: 27rem;
}

.new-post-link {
    text-decoration: none;
    color: var(--background-primary);
    font-family: 'Neue Metana', sans-serif;
    font-weight: bold;
    opacity: 0.8;
    padding: 0;
    margin: 0;
}


.new-post-link:hover {
    text-decoration: none;
    color: black;
}

.new-post-image {
    padding-top: 10rem;
    padding-bottom: 10rem;
    width: 100%;
    height: 20rem;
    background-image: url("../../img/bike-trek.jpg");
    background-size: cover;
}

.bottom-new-post-info-wrapper {
    height: auto;
    width: 100%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0.5rem;
    flex-direction: column;
}

.new-post-name {
    font-size: 1.25rem;
    padding: 0;
    font-family: 'Neue Metana', sans-serif;
    margin: 0;
    font-weight: 400;
}

.new-post-chips-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.new-post-chip {
    padding: 0.35rem;
    color: var(--background-secondary);
    font-size: 0.7rem;
    border-radius: 10px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    background-color: var(--background-primary);
    font-family: 'Neue Metana', sans-serif;
    font-weight: bold;
}